body{
    background-color: #181a1b;
    color: #181a1b;
}

.footers{
    background-color: #181a1b;
}

.cards{
    background-color: #181a1b;
}

.yazılar{
    background-color: #181a1b;
}

.card-body{
    background-color: #181a1b;
    color: white;
}

.tanıtım{
    color: white;
}